<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <ion-card>
    <ion-card-header>
      <img src="../../assets/finder.jpg" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>

        <ion-input placeholder="Username"></ion-input>

      </ion-item>
     <br>
      <ion-item>

        <ion-input placeholder="Password" type="password"></ion-input>

      </ion-item>
      <br>

      <ion-button (click)="LogMeIn()">LOGIN</ion-button>

      <br>
      <br>

      <a class="butt" href="">Forgot Password?</a>

     
      

     


     </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-icon class="icon1" size="large" name="close-outline"></ion-icon>

    <ion-icon class="icon" size="large" name="refresh-outline"></ion-icon>
   
    <ion-icon class="icon2" size="large" name="person-add-outline"></ion-icon>
    
  </ion-toolbar>

 
  
</ion-footer>