.icon {
    position: absolute;
    color: blue;
    left: 46%;
}

.icon1 {
    color: blue;
}

.button{
   left: 20%;
}

.butt {
    left: 50%;
}

.icon2 {
    position: absolute;
    color: blue;
    left: 90%;
}