<ion-header>
  <ion-toolbar>
    <ion-title>Recruiter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/careers.jpg" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Hire Top Professionals</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     by reaching over a million South Africans monthly.

      <br>
    <br>
    <br>

      <h2>CHOOSE FROM THREE OPTIONS TO SUIT YOUR HIRING NEEDS</h2>

    </ion-card-content>
  </ion-card>

  

  <ion-card>
    <ion-card-header>
      <img src="../../assets/download 1.jpg" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Job Advertising</ion-card-title>
      <p>Post your job on eJob and reach over a thousands active jobseekers a month.</p>
    </ion-card-header>
  
    <ion-card-content>
     Get more applications - Create an online job ad post including logo <br>
     Tap into our database - Ad set to candidates who match your job <br>
     Get more exposure - Ad distributed to a host of leading online job destinations

      <br>
    

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/download.jpg" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Bulk Recruitment</ion-card-title>
      <p>Bulk Job post and CV search</p>
    </ion-card-header>
  
    <ion-card-content>
      Job Posting - Include your logo and quick access to associated within your company. <br>
      Receive applicaions in your inbox or online. <br>
      Bulk management - Filter candidates with custom automated reject and shortlisting functions.

      <br>
    

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/download2.png" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Company Branding</ion-card-title>
      <p>Promote your company's employer value proposition and attract the best professionals</p>
    </ion-card-header>
  
    <ion-card-content>
      Promote your company with a curated profile.
      <br>
      Enhance your application rates with premium job ads.
      <br>
      Promotional newsletters to eJob seekers.

      <br>
    

    </ion-card-content>
  </ion-card>

 

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-icon class="icon1" size="large" name="arrow-undo-outline"></ion-icon>

    <ion-icon class="icon" size="large" name="refresh-outline"></ion-icon>
   
    <ion-icon class="icon2" size="large" name="folder-outline"></ion-icon>
    
  </ion-toolbar>