<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/Careers cartoon.jpg" alt="">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>eJob</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      The future depends on what you do Today!

      <br>
    
<!-- Animated Searchbar -->
<ion-searchbar animated placeholder="Job search" ></ion-searchbar>
<br>
<ion-searchbar animated placeholder="Location" ></ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Search by Sector</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="IT Jobs">IT Jobs</ion-select-option>
        <ion-select-option value="Finance Jobs">Finance Jobs</ion-select-option>
        <ion-select-option value="Sales Job">Sales Jobs</ion-select-option>
        <ion-select-option value="Engineering Jobs">Engineering Jobs</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-icon class="icon1" size="large" name="arrow-undo-outline"></ion-icon>

    <ion-icon class="icon" size="large" name="refresh-outline"></ion-icon>
   
    <ion-icon class="icon2" size="large" name="folder-outline"></ion-icon>
    
  </ion-toolbar>


